*{
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color:#E5E5E5;
}
#nav{
    background-color: #A2A9AF;
    padding-left:2%;
    height:5em;
    z-index:1800;
}
#sidenav-overlay{
    left: 300px;
}
#slogan{
    padding-top:1.8em;
    margin:0;
}
@media (max-width: 992px) {
  #slogandiv {
    text-align: center;
    padding-right:4.5em;
  }
}
#nav ul li a{
    height: 5em;
    padding-top:0.4em;
}
#main{
    background-color:#E5E5E5;
    color:#A2A9AF;
    text-align:center;
    padding-top:5vh;
}
#main h1{
    margin:0;
}
h3{
    padding-bottom:2vh;
}
#banner {
    background-color:#E5E5E5;
    margin: 0;
    text-align: center;
    color: #A2A9AF;
    overflow:auto;
}

#banner h1 {
    padding-top: 5vh;
    padding-bottom:5vh;
    margin: 0;
    color: #A2A9AF;
}
#logo{
    padding-bottom:3vh;
}
footer.page-footer{
    background-color: #A2A9AF;
}
#learnmore{
    padding-bottom:9vh;
}
.btn{
    background-color:#A2A9AF;
}
.btn:hover{
    background-color:#F1DBDA;
}