*{
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: white;
}
#nav{
    background-color: rgb(218, 170, 187);
    padding-left:2%;
    height:5em;
    z-index://www.ladysavantfoundation.com:1800;
}
#sidenav-overlay{
    left: 300px;
}
#slogan{
    padding-top:1.8em;
    margin:0;
}
@media (max-width: 1280px) {
    #slogandiv {
        text-align: center;
        padding-right:4em;
    }
    nav .brand-logo {
        text-align: center;
    }
    #nav-mobile a{
        display:none;
    }
    nav a.button-collapse{
        display: unset;
    }
    nav .brand-logo {
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}
@media (max-width: 673px) {
    #slogandiv {
        display:none; 
    }
    nav .brand-logo {
        text-align: center;
        font-size: 4.2vw;
        padding-top: 1vh;
    }
}
#nav ul li a{
    height: 5em;
    padding-top:0.4em;
}
#main{
    background-color:white;
    color:#212121;
    text-align:center;
    padding-top:5vh;
}
#main h1{
    margin:0;
}




#collablogo {
    width: 40%;
    height: auto;
    padding-top: 2vh;
}

.collab {
    margin-right: 7%;
    margin-left:7%;
    margin-bottom:5vh;
}
#desc {
    padding:5%;
    margin:0;
}


#banner {
    margin: 0;
    text-align: center;
    overflow:auto;
}

#banner h1 {
    padding-top: 5vh;
    padding-bottom:5vh;
    margin: 0;
}
footer.page-footer{
    background-color: rgb(218, 170, 187);
}
