
*{
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: white;
}
#nav{
    background-color: rgb(218, 170, 187);
    padding-left:2%;
    height:5em;
    z-index:1800;
}
#sidenav-overlay{
    left: 300px;
}
#slogan{
    padding-top:1.8em;
    margin:0;
}
@media (max-width: 992px) {
  #slogandiv {
    text-align: center;
    padding-right:4.5em;
  }
}
#nav ul li a{
    height: 5em;
    padding-top:0.4em;
}
#main{
    background-color:white;
    color:#212121;
    text-align:center;
    padding-top:5vh;
}
#main h1{
    margin:0;
}
p{
    padding-left: 1.1%;
}
h3{
    margin:0;
    padding:0;
}
.person{
    text-align: left;
    padding-bottom:3vh;
}
.card{
    text-align:left;
}
#events{
    padding-left:25%;
    padding-right:25%;
    margin:0;
}
#banner {
    margin: 0;
    text-align: center;
    overflow:auto;
}
#banner h1 {
    padding-top: 5vh;
    padding-bottom:5vh;
    margin: 0;
}
footer.page-footer{
    background-color: rgb(218, 170, 187);
}